@import './assets/fonts/fonts.scss';

* {
  color: white;
  font-family: Geometria;
}

body {
  background: linear-gradient(122.76deg, #FFA2A2 4.09%, #FF7B7B 91.04%), #FFFFFF;
  width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}